*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  width: 100%;
  background-color: black;
}
main{
  position: relative;
}
section{
  min-height: 100vh;
  border: 1px solid white;
  position: relative;
  z-index: 2;
}
.middle{
  display: flex;

  .left,.right{
    width: 50%;
  }
  .left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  h1{
    font-size: 6rem;
    color: white;
    line-height: 1;
    text-align: right;
  }
}

.bottom{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}